<div class="px-8 sm:px-13 pt-36 pb-16">
    <h2 class="font-semibold text-2xl sm:text-4xl text-center mb-5">Contact Us</h2>
    <p class="text-myBlack text-center mb-10">Got a technical issue? Want to send us a genral feedback about? Let us know</p>
    <form>
        <div class="w-1/2 mx-auto">
            <label for="" class="block mb-2">Your email</label>
            <input type="email" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                placeholder="example@gmail.com"
            >
        </div>

        <div class="w-1/2 mx-auto mt-5">
            <label for="" class="block mb-2">Subject</label>
            <input type="text" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                placeholder="Let us know how we can help you"
            >
        </div>

        <div class="w-1/2 mx-auto mt-5">
            <label for="" class="block mb-2">Your message</label>
            <textarea type="text" class="w-full h-32 border border-borderLightBlack px-2 py-2 rounded"
                placeholder="Write your message..."
            ></textarea>
        </div>
        <div class="w-1/2 mx-auto mt-5">
            <button class="bg-myblue text-white sm:text-md text-sm px-5 sm:px-6 py-2 mt-5 mb-3 rounded-l-full cursor-pointer rounded-r-full focus:ring-2 transform hover:scale-105"
            >Send message</button>
        </div>
        
    </form>
</div>

