<nav class="flex justify-between items-center px-13 py-5">
    <h1 class="flex items-center">
        <img src="medicare-logo.svg" 
            class="w-5 me-1"
        alt="logo">
        <span class="font-bold text-xl">Medicare</span>
    </h1>
    <ul class="flex list-none">
        <li class="mx-3"><a routerLink="">Home</a></li>
        <li class="mx-3"><a routerLink="">Services</a></li>
        <li class="mx-3"><a routerLink="">Find a Doctor</a></li>
        <li class="mx-3"><a routerLink="">Contact</a></li>
    </ul>
    <button>Login</button>
</nav>
