<div class="hidden sm:flex justify-between">
    <div class="max-w-30p">
        <h2 class="flex items-center cursor-pointer">
            <img src="medicare-logo.svg" 
                class="w-4 me-1"
            alt="logo">
            <span class="font-bold text-xl">Medicare</span>
        </h2>
        <p class="text-myBlack text-xs mt-5">Copyright &copy; 2024 developed by Caleb ADOUMADJE<br>All Rights Reserved</p>
        <div class="flex text-2xl text-myBlack mt-5">
            <i class="bi bi-youtube me-4 cursor-pointer hover:text-black"></i>
            <i class="bi bi-github me-4 cursor-pointer hover:text-black"></i>
            <i class="bi bi-instagram me-4 cursor-pointer hover:text-black"></i>
            <i class="bi bi-linkedin me-4 cursor-pointer hover:text-black"></i>
        </div>
    </div>
    <div class="flex justify-between w-60p">
        <ul class="flex flex-col list-none text-myBlack">
            <li class="text-black font-semibold mb-5">Quick Links</li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Home</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Services</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Find a Doctor</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Contact</a></li>
        </ul>
        <ul class="flex flex-col list-none text-myBlack">
            <li class="text-black font-semibold mb-5">I want to:</li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Find a Doctor</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Request an Appointment</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Find a Location</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Get an opinion</a></li>
        </ul>
        <ul class="flex flex-col list-none text-myBlack">
            <li class="text-black font-semibold mb-5">Support</li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Donate</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Contact Us</a></li>
        </ul>
    </div>
</div>

<div class="sm:hidden">
    <div>
        <h2 class="flex items-center cursor-pointer">
            <img src="medicare-logo.svg" 
                class="w-4 me-1"
            alt="logo">
            <span class="font-bold text-xl">Medicare</span>
        </h2>
        <p class="text-myBlack text-xs mt-5">Copyright &copy; 2024 developed by Caleb ADOUMADJE<br>All Rights Reserved</p>
    </div>
    <div class="flex text-2xl text-myBlack mt-5">
        <i class="bi bi-youtube me-4 cursor-pointer hover:text-black"></i>
        <i class="bi bi-github me-4 cursor-pointer hover:text-black"></i>
        <i class="bi bi-instagram me-4 cursor-pointer hover:text-black"></i>
        <i class="bi bi-linkedin me-4 cursor-pointer hover:text-black"></i>
    </div>
    <div class="flex justify-between mt-10 text-sm">
        <ul class="flex flex-col list-none text-myBlack">
            <li class="text-black font-semibold mb-5">Quick Links</li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Home</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Services</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Find a Doctor</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Contact</a></li>
        </ul>
        <ul class="flex flex-col list-none text-myBlack">
            <li class="text-black font-semibold mb-5">I want to:</li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Find a Doctor</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Request an <br>Appointment</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Find a Location</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Get an opinion</a></li>
        </ul>
        <ul class="flex flex-col list-none text-myBlack">
            <li class="text-black font-semibold mb-5">Support</li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Donate</a></li>
            <li class="hover:text-myblue cursor-pointer mb-2"><a routerLink="">Contact Us</a></li>
        </ul>
    </div>
</div>