<div class="px-8 sm:px-13 sm:flex">
    <div class="pt-32 sm:pt-32">
        <div class="flex text-myBlack items-center">
            <i class="bi bi-arrow-left me-3"></i>
            <i class="bi bi-shop-window me-5"></i>
            <span class="py-1 px-2 font-semibold text-myYellow rounded bg-lightYellow text-xs">Test Mode</span>
        </div>
        <div class="ms-7">
            <h4 class="font-semibold mt-10 text-myBlack">Dr. Muhibur Rahman</h4>
            <h3 class="font-semibold mt-1 text-3xl">USD 500</h3>
            <p class="mt-1 text-myBlack">Specialization in Neurology</p>
            <div class="bg-myPurple rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 mt-5 flex flex-col justify-center overflow-hidden">
                <img src="doctor-2-removebg-preview.png" 
                    class="w-44 mx-auto mt-10"
                alt="doctor">
            </div>
            <div class="flex mt-1 text-sm text-myBlack">
                <p class="me-16">Powered by <span class="font-semibold">stripe</span></p>
                <span class="me-5 border-b-2 border-dashed cursor-pointer">terms</span>
                <span class="border-b-2 border-dashed cursor-pointer">privacy</span>
            </div>
        </div>
    </div>
    <div class="sm:block hidden w-2 h-screen ms-64" style="background-color: rgb(249, 249, 249);">

    </div>
    <div class="pt-32 sm:pt-32 pb-16">

    </div>
</div>
