<div class="px-8 sm:px-13 pt-40 pb-64 flex justify-between">
    <div class="w-2/3">
        <div class="flex">
            <div class="bg-myYellow rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 me-5 flex flex-col justify-center overflow-hidden">
                <img src="doctor-1-removebg-preview.png" 
                    class="w-40 mx-auto mt-10"
                alt="doctor">
            </div>
            <div>
                <button class="text-myGreen text-md bg-lightGreen px-3 mt-3 mb-3 py-1 rounded">Neurologist</button>
                <h4 class="font-semibold text-md mb-2">Dr. Mungulu Mungala</h4>
                <div>
                    <i class="bi bi-star-fill text-myYellow"></i>
                    <span class="font-semibold text-sm mx-2">4.5</span>
                    <span class="text-myBlack text-sm">(2)</span>
                </div>
                <p class="mt-10 text-myBlack">Specialist in Neurology</p>
            </div>
        </div>
        <div class="flex border-b border-borderLightBlack mt-5">
            <button class="border-b-2 border-myBlack px-4 py-1 me-2">About</button>
            <button class="px-4 py-1">Feedback</button>
        </div>
        <h3 class="font-semibold text-lg my-10">About the <span class="text-myGreen">Dr. Mungulu Mungala</span></h3>
        <p class="text-myBlack">Dr. Mungulu Mungala is a highly experienced neurologist with a dedicated focus on diagnosing and treating conditions related to the nervous system. With years of specialized training in neurology, Dr. Mungala has expertise in managing complex neurological disorders, including epilepsy, stroke, Parkinson’s disease, and multiple sclerosis.
        <br>
        Dr. Mungala is known for his patient-centered approach, ensuring each individual receives comprehensive care tailored to their unique needs. His commitment to advancing neurological care extends to participating in cutting-edge research and implementing the latest treatment protocols.
        <br>
        In addition to his clinical practice, Dr. Mungala actively engages in community outreach and education, helping raise awareness about neurological health. His compassion and dedication to improving the quality of life for his patients make him a respected figure in the field of neurology.
        </p>
    </div>
    <div class="w-100 h-50 bg-lightGreen">

    </div>
</div>
