<div class="px-8 sm:px-13 pt-40 pb-16 sm:flex justify-between">
    <div class="sm:w-2/3 mb-16">
        <div class="sm:flex">
            <div class="bg-myYellow rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 sm:me-5 flex flex-col justify-center overflow-hidden">
                <img src="doctor-1-removebg-preview.png" 
                    class="w-40 mx-auto mt-10"
                alt="doctor">
            </div>
            <div>
                <button class="text-myGreen text-md bg-lightGreen px-3 mt-3 mb-3 py-1 rounded">Neurologist</button>
                <h4 class="font-semibold text-md mb-2">Dr. Mungulu Mungala</h4>
                <div>
                    <i class="bi bi-star-fill text-myYellow"></i>
                    <span class="font-semibold text-sm mx-2">4.5</span>
                    <span class="text-myBlack text-sm">(2)</span>
                </div>
                <p class="mt-10 text-myBlack">Specialist in Neurology</p>
            </div>
        </div>
        <div class="flex border-b border-borderLightBlack mt-5">
            <button class=" px-4 py-1 me-2">About</button>
            <button class="border-b-2 border-myBlack px-4 py-1">Feedback</button>
        </div>
        <div class="hidden">
            <h3 class="font-semibold text-lg my-10">About the <span class="text-myGreen">Dr. Mungulu Mungala</span></h3>
            <p class="text-myBlack">Dr. Mungulu Mungala is a highly experienced neurologist with a dedicated focus on diagnosing and treating conditions related to the nervous system. With years of specialized training in neurology, Dr. Mungala has expertise in managing complex neurological disorders, including epilepsy, stroke, Parkinson’s disease, and multiple sclerosis.
            <br>
            Dr. Mungala is known for his patient-centered approach, ensuring each individual receives comprehensive care tailored to their unique needs. His commitment to advancing neurological care extends to participating in cutting-edge research and implementing the latest treatment protocols.
            <br>
            In addition to his clinical practice, Dr. Mungala actively engages in community outreach and education, helping raise awareness about neurological health. His compassion and dedication to improving the quality of life for his patients make him a respected figure in the field of neurology.
            </p>
            <h4 class="font-semibold mt-10">Education</h4>
            <div class="ms-5">
                <h5 class="text-myGreen text-sm font-semibold mt-5">2008-2010</h5>
                <div class="flex justify-between text-myBlack text-sm">
                    <span>Bsc degree in Neurosciences</span>
                    <span>University of Paris-Saclay</span>
                </div>
                <h5 class="text-myGreen text-sm font-semibold mt-5">2011-2015</h5>
                <div class="flex justify-between text-myBlack text-sm">
                    <span>Msc degree in Brain Studies</span>
                    <span>University of Maryland</span>
                </div>
                <h5 class="text-myGreen text-sm font-semibold mt-5">2016-2018</h5>
                <div class="flex justify-between text-myBlack text-sm">
                    <span>Phd in Neurosciences</span>
                    <span>Massachusetts Institute of Technology (MIT)</span>
                </div>
            </div>
            <h4 class="font-semibold mt-10 mb-8">Experience</h4>
            <div class="ms-5 grid grid-cols-1 sm:grid-cols-2 grid-rows-3 sm:grid-rows-2 gap-10">
                <div class="px-3 py-5 bg-lightYellow text-sm">
                    <h5 class="text-myYellow font-semibold mb-3">2017-2019</h5>
                    <h5 class="mb-2">Associate Professor</h5>
                    <p class="text-myBlack text-xs">Mount Adora Hospital, Sylhet</p>
                </div>
                <div class="px-3 py-5 bg-lightYellow text-sm">
                    <h5 class="text-myYellow font-semibold mb-3">2020-2022</h5>
                    <h5 class="mb-2">Medical & General Surgeon</h5>
                    <p class="text-myBlack text-xs">MAG Osmani Medical, Sylhet</p>
                </div>
                <div class="px-3 py-5 bg-lightYellow text-sm">
                    <h5 class="text-myYellow font-semibold mb-3">2023-present</h5>
                    <h5 class="mb-2">Sr. Consultant</h5>
                    <p class="text-myBlack text-xs">New Apollo Hospital, California</p>
                </div>
            </div>
        </div>
        <div>
            <h3 class="font-semibold my-10">All Reviews (3)</h3>
            <div>
                <div>
                    <div class="flex justify-between">
                        <div class="flex">
                            <div class="w-10 h-10 rounded-full overflow-hidden me-4">
                                <img src="https://preview.keenthemes.com/metronic-v4/theme/assets/pages/media/profile/people19.png" alt=""
                                class="mx-auto">
                            </div>
                            <div>
                                <h4 class="font-semibold text-myblue">Ahmed Ali</h4>
                                <p class="text-myBlack text-xs">June 27, 2024</p>
                            </div>
                        </div>
                        <div class="flex text-sm">
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                        </div>
                    </div>
                    <p class="mt-3 ms-14 text-myBlack text-sm">Good doctor highly recommended 👍</p>
                </div>

                <div class="mt-8">
                    <div class="flex justify-between">
                        <div class="flex">
                            <div class="w-10 h-10 rounded-full overflow-hidden me-4">
                                <img src="https://preview.keenthemes.com/metronic-v4/theme/assets/pages/media/profile/people19.png" alt=""
                                class="mx-auto">
                            </div>
                            <div>
                                <h4 class="font-semibold text-myblue">Ahmed Ali</h4>
                                <p class="text-myBlack text-xs">June 27, 2024</p>
                            </div>
                        </div>
                        <div class="flex text-sm">
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                        </div>
                    </div>
                    <p class="mt-3 ms-14 text-myBlack text-sm">good</p>
                </div>

                <div class="mt-8">
                    <div class="flex justify-between">
                        <div class="flex">
                            <div class="w-10 h-10 rounded-full overflow-hidden me-4">
                                <img src="https://preview.keenthemes.com/metronic-v4/theme/assets/pages/media/profile/people19.png" alt=""
                                class="mx-auto">
                            </div>
                            <div>
                                <h4 class="font-semibold text-myblue">Ahmed Ali</h4>
                                <p class="text-myBlack text-xs">June 27, 2024</p>
                            </div>
                        </div>
                        <div class="flex text-sm">
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                            <i class="bi bi-star-fill text-myYellow me-1"></i>
                        </div>
                    </div>
                    <p class="mt-3 ms-14 text-myBlack text-sm">so much good</p>
                </div>
            </div>
            <form>
                <p class="mt-10 mb-2">How would you rate your overall experience?</p>
                <div class="flex text-xl">
                    <i class="bi bi-star text-myYellow me-2 cursor-pointer"></i>
                    <i class="bi bi-star text-myYellow me-2 cursor-pointer"></i>
                    <i class="bi bi-star text-myYellow me-2 cursor-pointer"></i>
                    <i class="bi bi-star text-myYellow me-2 cursor-pointer"></i>
                    <i class="bi bi-star text-myYellow me-2 cursor-pointer"></i>
                </div>
                <label for="" class="block mt-10 mb-5">Share your feedback or suggestions</label>
                <textarea name="" id="" 
                    class="w-full border border-borderLightBlack rounded-lg h-40 p-3"
                ></textarea>
                <button class="bg-myblue text-white sm:text-md text-sm px-5 sm:px-6 py-2 mt-5 mb-3 rounded-l-full cursor-pointer rounded-r-full focus:ring-2 transform hover:scale-105"
            >Submit Feedback</button>
            </form>
        </div>
    </div>
    <div>
        <div class="sm:w-100 bg-white shadow-xl p-4 rounded-lg">
            <div class="flex justify-between">
                <span class="text-myBlack">Ticket Price</span>
                <span class="font-bold">700 EUR</span>
            </div>
            <h5 class="mt-8 font-semibold">Available Slots:</h5>
            <div class="flex justify-between mt-3 text-myBlack">
                <span>Sunday:</span>
                <span>4:30-9:30</span>
            </div>
            <div class="flex justify-between mt-1 text-myBlack">
                <span>Tuesday:</span>
                <span>4:30-9:30</span>
            </div>
            <div class="flex justify-between mt-1 text-myBlack">
                <span>Thursday:</span>
                <span>4:30-9:30</span>
            </div>
            <button class="bg-myblue block w-full text-white sm:text-md text-sm px-5 sm:px-6 py-2 mt-8 mb-3 rounded-l cursor-pointer rounded-r focus:ring-2 transform hover:scale-105"
            >Book Appointment</button>
        </div>
    </div>
</div>