<div class="px-8 sm:px-13 pt-44 bg-lightYellow pb-16 flex flex-col items-center">
    <h2 class="text-3xl font-semibold text-center mb-8">Find a Doctor</h2>
    <div class="inline-block">
        <input type="text" class="px-2 sm:px-4 py-2 sm:w-96 w-70 rounded-l bg-inputBg"
            placeholder="{{placeHolderText }}"
        >
        <button class="bg-myblue px-3 sm:px-4 py-2 text-white rounded-r">Search</button>
    </div>
</div>

<div class="px-8 sm:px-13 pb-16">
    <div class="grid grid-cols-1 sm:grid-cols-4 grid-rows-3 sm:grid-rows-1 gap-5">
        <div class="py-5 sm:px-5 px-14">
            <div class="bg-myYellow rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 mt-10 flex flex-col justify-center overflow-hidden">
                <img src="doctor-1-removebg-preview.png" 
                    class="w-40 mx-auto mt-10"
                alt="doctor">
            </div>
            <h4 class="font-semibold text-md mb-4">Dr. Mungulu Mungala</h4>
            <div class="flex justify-between items-center">
                <span class="text-myGreen text-md bg-lightGreen px-3 py-1 rounded">Neurologist</span>
                <div>
                    <i class="bi bi-star-fill text-myYellow"></i>
                    <span class="font-semibold text-sm mx-2">4.5</span>
                    <span class="text-myBlack text-sm">(2)</span>
                </div>
            </div>
            <div class="flex justify-between mt-7">
                <span class="text-myBlack text-xs">123 Elm Street Springfield, <br>IL 62701</span>
                <button class="flex items-center justify-center w-7 h-7 rounded-full border-2 border-myBlack cursor-pointer">
                    <i class="bi bi-arrow-right text-xl text-myBlack"></i>
                </button>
            </div>
        </div>
        <div class="py-5 sm:px-5 px-14">
            <div class="bg-myPurple rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 mt-10 flex flex-col justify-center overflow-hidden">
                <img src="doctor-2-removebg-preview.png" 
                    class="w-44 mx-auto mt-10"
                alt="doctor">
            </div>
            <h4 class="font-semibold text-md mb-4">Dr. Alfredo Gibson</h4>
            <div class="flex justify-between items-center">
                <span class="text-myGreen text-md bg-lightGreen px-3 py-1 rounded">Surgeon</span>
                <div>
                    <i class="bi bi-star-fill text-myYellow"></i>
                    <span class="font-semibold text-sm mx-2">5</span>
                    <span class="text-myBlack text-sm">(2)</span>
                </div>
            </div>
            <div class="flex justify-between mt-7">
                <span class="text-myBlack text-xs">456 Oak Avenue Los Angeles, <br>CA 90012</span>
                <button class="flex items-center justify-center w-7 h-7 rounded-full border-2 border-myBlack cursor-pointer">
                    <i class="bi bi-arrow-right text-xl text-myBlack"></i>
                </button>
            </div>
        </div>
        <div class="py-5 sm:px-5 px-14">
            <div class="bg-myGreen rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 mt-10 flex flex-col justify-center overflow-hidden">
                <img src="doctor-3-removebg-preview.png" 
                    class="w-44 mx-auto mt-10"
                alt="doctor">
            </div>
            <h4 class="font-semibold text-md mb-4">Dr. Xunli Mha</h4>
            <div class="flex justify-between items-center">
                <span class="text-myGreen text-md bg-lightGreen px-3 py-1 rounded">Dermatologist</span>
                <div>
                    <i class="bi bi-star text-myYellow"></i>
                    <span class="font-semibold text-sm mx-2">0</span>
                    <span class="text-myBlack text-sm">(0)</span>
                </div>
            </div>
            <div class="flex justify-between mt-7">
                <span class="text-myBlack text-xs">789 Pine Road Austin, <br>TX 73301</span>
                <button class="flex items-center justify-center w-7 h-7 rounded-full border-2 border-myBlack cursor-pointer">
                    <i class="bi bi-arrow-right text-xl text-myBlack"></i>
                </button>
            </div>
        </div>
        <div class="py-5 sm:px-5 px-14">
            <div class="bg-myPurple rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 mt-10 flex flex-col justify-center overflow-hidden">
                <img src="doctor-2-removebg-preview.png" 
                    class="w-44 mx-auto mt-10"
                alt="doctor">
            </div>
            <h4 class="font-semibold text-md mb-4">Dr. Alfredo Gibson</h4>
            <div class="flex justify-between items-center">
                <span class="text-myGreen text-md bg-lightGreen px-3 py-1 rounded">Surgeon</span>
                <div>
                    <i class="bi bi-star-fill text-myYellow"></i>
                    <span class="font-semibold text-sm mx-2">5</span>
                    <span class="text-myBlack text-sm">(2)</span>
                </div>
            </div>
            <div class="flex justify-between mt-7">
                <span class="text-myBlack text-xs">456 Oak Avenue Los Angeles, <br>CA 90012</span>
                <button class="flex items-center justify-center w-7 h-7 rounded-full border-2 border-myBlack cursor-pointer">
                    <i class="bi bi-arrow-right text-xl text-myBlack"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="px-8 sm:px-13 pb-16">
    <h2 class="font-semibold text-3xl mb-5 text-center">What our patients say</h2>
    <p class="text-myBlack text-center mx-auto sm:w-140 mb-10">Our patients consistently share positive experiences about the care and attention they receive.</p>
    <app-carousel></app-carousel>
</div>
