<div class="px-8 sm:px-13 pt-32 sm:pt-36 pb-16 sm:flex">
    <div class="sm:w-20p sm:me-16 sm:px-0 px-8 mb-10 sm:mb-0">
        <ul class="list-none flex flex-col text-center">
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded">Overview</li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded">Appoitments</li>
            <li class="hover:text-myblue text-myblue bg-lightBlue hover:bg-lightBlue cursor-pointer mb-2 py-1 rounded">Profile</li>
        </ul>

        <button class="bg-black text-white w-full sm:text-md text-sm px-3 sm:px-4 py-2 mt-16 mb-5 rounded cursor-pointer focus:ring-2 transform hover:scale-105">Logout</button>
        <button class="bg-red-500 text-white w-full sm:text-md text-sm px-3 sm:px-4 py-2 mb-3 rounded cursor-pointer focus:ring-2 transform hover:scale-105">Delete Account</button>
    </div>

    <div class="w-full">
        <div class="bg-lightYellow py-1 px-3 mb-4 text-myBrown text-sm sm:me-24">
            <p><i class="bi bi-info-circle-fill me-1"></i> To get approval please complete your profile. We'll review manually and approve within 3 days</p>
        </div>

        <div class="hidden sm:pe-24">
            <div class="sm:flex">
                <div class="bg-myYellow rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 sm:me-5 flex flex-col justify-center overflow-hidden">
                    <img src="doctor-1-removebg-preview.png" 
                        class="w-40 mx-auto mt-10"
                    alt="doctor">
                </div>
                <div>
                    <button class="text-myGreen text-md bg-lightGreen px-3 mt-3 mb-3 py-1 rounded">Neurologist</button>
                    <h4 class="font-semibold text-md mb-2">Dr. Mungulu Mungala</h4>
                    <div>
                        <i class="bi bi-star-fill text-myYellow"></i>
                        <span class="font-semibold text-sm mx-2">4.5</span>
                        <span class="text-myBlack text-sm">(2)</span>
                    </div>
                    <p class="mt-10 text-myBlack">Specialist in Neurology</p>
                </div>
            </div>

            <div class="">
                <h3 class="font-semibold text-lg my-10">About the <span class="text-myGreen">Dr. Mungulu Mungala</span></h3>
                <p class="text-myBlack">Dr. Mungulu Mungala is a highly experienced neurologist with a dedicated focus on diagnosing and treating conditions related to the nervous system. With years of specialized training in neurology, Dr. Mungala has expertise in managing complex neurological disorders, including epilepsy, stroke, Parkinson’s disease, and multiple sclerosis.
                <br>
                Dr. Mungala is known for his patient-centered approach, ensuring each individual receives comprehensive care tailored to their unique needs. His commitment to advancing neurological care extends to participating in cutting-edge research and implementing the latest treatment protocols.
                <br>
                In addition to his clinical practice, Dr. Mungala actively engages in community outreach and education, helping raise awareness about neurological health. His compassion and dedication to improving the quality of life for his patients make him a respected figure in the field of neurology.
                </p>
                <h4 class="font-semibold mt-10">Education</h4>
                <div class="ms-5">
                    <h5 class="text-myGreen text-sm font-semibold mt-5">2008-2010</h5>
                    <div class="flex justify-between text-myBlack text-sm">
                        <span>Bsc degree in Neurosciences</span>
                        <span>University of Paris-Saclay</span>
                    </div>
                    <h5 class="text-myGreen text-sm font-semibold mt-5">2011-2015</h5>
                    <div class="flex justify-between text-myBlack text-sm">
                        <span>Msc degree in Brain Studies</span>
                        <span>University of Maryland</span>
                    </div>
                    <h5 class="text-myGreen text-sm font-semibold mt-5">2016-2018</h5>
                    <div class="flex justify-between text-myBlack text-sm">
                        <span>Phd in Neurosciences</span>
                        <span>Massachusetts Institute of Technology (MIT)</span>
                    </div>
                </div>
                <h4 class="font-semibold mt-10 mb-8">Experience</h4>
                <div class="ms-5 grid grid-cols-1 sm:grid-cols-2 grid-rows-3 sm:grid-rows-2 gap-10">
                    <div class="px-3 py-5 bg-lightYellow text-sm">
                        <h5 class="text-myYellow font-semibold mb-3">2017-2019</h5>
                        <h5 class="mb-2">Associate Professor</h5>
                        <p class="text-myBlack text-xs">Mount Adora Hospital, Sylhet</p>
                    </div>
                    <div class="px-3 py-5 bg-lightYellow text-sm">
                        <h5 class="text-myYellow font-semibold mb-3">2020-2022</h5>
                        <h5 class="mb-2">Medical & General Surgeon</h5>
                        <p class="text-myBlack text-xs">MAG Osmani Medical, Sylhet</p>
                    </div>
                    <div class="px-3 py-5 bg-lightYellow text-sm">
                        <h5 class="text-myYellow font-semibold mb-3">2023-present</h5>
                        <h5 class="mb-2">Sr. Consultant</h5>
                        <p class="text-myBlack text-xs">New Apollo Hospital, California</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden">
            <div class="bg-lightBlack p-1 mt-5 mb-8 sm:me-24">
                <button class="px-2 w-28 py-1 bg-white rounded-sm">Upcoming</button>
                <button class="px-2 w-24 py-1 ">Expired</button>
            </div>

            <table>
                <thead class="bg-inputBg">
                    <th class="py-1 px-2 font-normal text-center">FULLNAME</th>
                    <th class="py-1 px-4 font-normal text-center">GENDER</th>
                    <th class="py-1 px-4 font-normal text-center">BLOOD GROUP</th>
                    <th class="py-1 px-4 font-normal text-center">PAYMENT</th>
                    <th class="py-1 px-2 font-normal text-center">PRICE</th>
                    <th class="py-1 px-2 font-normal text-center">DATE</th>
                    <th class="py-1 px-2 font-normal text-center">TIME</th>
                </thead>
                <tbody>
                    <tr class="border-b border-borderLightBlack text-myBlack hover:bg-inputBg cursor-pointer">
                        <td class="flex px-4 py-2">
                            <div class="w-10 h-10 rounded-full overflow-hidden me-4">
                                <img src="https://preview.keenthemes.com/metronic-v4/theme/assets/pages/media/profile/people19.png" alt=""
                                class="mx-auto">
                            </div>
                            <div>
                                <h4 class="font-semibold text-myBlack">Ahmed Ali</h4>
                                <p class="text-myBlack text-xs">ali&#64;gmail.com</p>
                            </div>
                        </td>
                        <td class="text-center">
                            Male
                        </td>
                        <td class="text-center">
                            A+
                        </td>
                        <td class="text-center">
                            <i class="bi bi-check-circle-fill text-green-500"></i> Paid
                        </td>
                        <td class="text-center px-4">
                            500 USD
                        </td>
                        <td class="text-center px-4">
                            June 27, 2024
                        </td>
                        <td class="text-center px-4">
                            04:30 PM
                        </td>
                    </tr>

                    <tr class="border-b border-borderLightBlack text-myBlack hover:bg-inputBg cursor-pointer">
                        <td class="flex px-4 py-2">
                            <div class="w-10 h-10 rounded-full overflow-hidden me-4">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Outdoors-man-portrait_%28cropped%29.jpg/640px-Outdoors-man-portrait_%28cropped%29.jpg" alt=""
                                class="mx-auto">
                            </div>
                            <div>
                                <h4 class="font-semibold text-myBlack">Rakib </h4>
                                <p class="text-myBlack text-xs">rakib&#64;gmail.com</p>
                            </div>
                        </td>
                        <td class="text-center">
                            Male
                        </td>
                        <td class="text-center">
                            A+
                        </td>
                        <td class="text-center">
                            <i class="bi bi-check-circle-fill text-green-500"></i> Paid
                        </td>
                        <td class="text-center px-4">
                            500 USD
                        </td>
                        <td class="text-center px-4">
                            June 27, 2024
                        </td>
                        <td class="text-center px-4">
                            04:30 PM
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="sm:pe-24">
            <form>
                <h2 class="font-semibold text-xl mt-10 mb-8">Profile Informations</h2>
                <div class="">
                    <label for="" class="block mb-2">Fullname</label>
                    <input type="text" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                        placeholder="John Smith"
                    >
                </div>
                <div class="mt-5">
                    <label for="" class="block mb-2">Email</label>
                    <input type="email" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                        placeholder="example@gmail.com"
                    >
                </div>
                <div class="mt-5">
                    <label for="" class="block mb-2">Address</label>
                    <input type="text" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                        placeholder="address"
                    >
                </div>
                <div class="mt-5">
                    <label for="" class="block mb-2">Phone</label>
                    <input type="number" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                        placeholder="+48 5***"
                    >
                </div>
                <div class="mt-5">
                    <label for="" class="block mb-2">Bio</label>
                    <textarea type="text" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                        placeholder="Bio"
                    ></textarea>
                </div>
                <div class="mt-5 flex justify-between">
                    <div class="w-30p">
                        <label for="" class="block mb-2">Gender</label>
                        <select class="w-full border border-borderLightBlack px-2 py-2 rounded bg-transparent">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="w-30p">
                        <label for="" class="block mb-2">Specialization</label>
                        <select class="w-full border border-borderLightBlack px-2 py-2 rounded bg-transparent">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="w-30p">
                        <label for="" class="block mb-2">Ticket Price (USD)</label>
                        <input type="number" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                            placeholder="500"
                        >
                    </div>
                </div>

                <div class="mt-10">
                    <h4 for="" class="mb-5 font-semibold text-lg">Education</h4>
                    <div>
                        <div class="flex justify-between">
                            <div class="w-40p">
                                <label for="" class="block mb-2">Degree</label>
                                <input type="text" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                                    placeholder="Phd Neurosciences"
                                >
                            </div>
                            <div class="w-40p">
                                <label for="" class="block mb-2">University</label>
                                <input type="text" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                                    placeholder="Mediacl University of Lodz"
                                >
                            </div>
                        </div>
                        <div class="flex justify-between mt-5">
                            <div class="w-40p">
                                <label for="" class="block mb-2">Starting Date</label>
                                <input type="date" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                                    placeholder="Phd Neurosciences"
                                >
                            </div>
                            <div class="w-40p">
                                <label for="" class="block mb-2">Ending Date</label>
                                <input type="date" class="w-full border border-borderLightBlack px-2 py-2 rounded"
                                    placeholder="Mediacl University of Lodz"
                                >
                            </div>
                        </div>
                        <button class="bg-red-500 w-10 h-10 rounded-full mt-5 transform hover:scale-105">
                            <i class="bi bi-trash3-fill text-white"></i>
                        </button>
                    </div>
                    <div class="">
                        <button class="bg-black text-white sm:text-md text-sm px-5 sm:px-6 py-2 mt-5 mb-3 rounded  focus:ring-2 transform hover:scale-105"
                        >Add Education</button>
                    </div>
                </div>


                <div class="mt-5">
                    <label for="" class="block mb-2">About</label>
                    <textarea type="text" class="w-full h-40 border border-borderLightBlack px-2 py-2 rounded"
                        placeholder="About"
                    ></textarea>
                </div>

                <div class="mt-5">
                    <button class="bg-myblue text-white sm:text-md text-sm px-5 sm:px-6 py-2 mt-5 mb-3 rounded-l-full cursor-pointer rounded-r-full focus:ring-2 transform hover:scale-105"
                    >Send message</button>
                </div>
            </form>
        </div>
    </div>
</div>

