<div class="px-8 sm:px-13 pt-32 sm:pt-36 pb-16 sm:flex">
    <div class="sm:w-20p sm:me-16 sm:px-0 px-8 mb-10 sm:mb-0">
        <ul class="list-none flex flex-col">
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded flex items-center px-2">
                <img src="dentist-black.svg" alt="" class="w-5 me-2">
                <span>Dentist</span>
            </li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded flex items-center px-2">
                <img src="cardiologist-black.svg" alt="" class="w-5 me-2">
                <span>Cardiologist</span>
            </li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded flex items-center px-2">
                <img src="orthopedist-black.svg" alt="" class="w-5 me-2">
                <span>Orthopedist</span>
            </li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded flex items-center px-2">
                <img src="otologist-black.svg" alt="" class="w-5 me-2">
                <span>Otologist</span>
            </li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded flex items-center px-2">
                <img src="general-doctor-black.svg" alt="" class="w-5 me-2">
                <span>General Doctor</span>
            </li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded flex items-center px-2">
                <img src="surgeon-black.svg" alt="" class="w-5 me-2">
                <span>Surgeon</span>
            </li>
            <li class="hover:text-myblue hover:bg-lightBlue text-myblue bg-lightBlue cursor-pointer mb-3 py-1 rounded flex items-center px-2">
                <img src="neurologist-blue.svg" alt="" class="w-5 me-2">
                <span>Neurologist</span>
            </li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded flex items-center px-2">
                <img src="psychotherapist-black.svg" alt="" class="w-5 me-2">
                <span>Psychotherapist</span>
            </li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded flex items-center px-2">
                <img src="eyes-specialist-black.svg" alt="" class="w-5 me-2">
                <span>Eyes Specialist</span>
            </li>
        </ul>
    </div>
</div>