<div class="px-8 sm:px-13 pt-32 sm:pt-36 pb-16 sm:flex">
    <div class="sm:w-20p sm:me-16 mb-10 sm:mb-0">
        <ul class="list-none flex sm:flex-col flex-row sm:overflow-visible overflow-x-auto">
            <li>
                <div class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 sm:py-1 py-3 px-2 rounded flex sm:flex-row flex-col items-center  justify-center sm:justify-start sm:border-none border border-borderLightBlack me-5 sm:me-0 w-32 sm:w-auto">
                    <img src="dentist-black.svg" alt="" class="w-5 sm:me-2">
                    <span>Dentist</span>
                </div>
            </li>
            <li>
                <div class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 sm:py-1 py-3 rounded flex sm:flex-row flex-col items-center px-2 border border-borderLightBlack justify-center sm:border-none sm:justify-start me-5 sm:me-0 w-32 sm:w-auto">
                    <img src="cardiologist-black.svg" alt="" class="w-5 me-2">
                    <span>Cardiologist</span>
                </div>
            </li>
            <li>
                <div class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 sm:py-1 py-3 rounded flex sm:flex-row flex-col items-center px-2 border border-borderLightBlack justify-center sm:border-none sm:justify-start me-5 sm:me-0 w-32 sm:w-auto">
                    <img src="orthopedist-black.svg" alt="" class="w-5 me-2">
                    <span>Orthopedist</span>
                </div>
            </li>
            <li>
                <div class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 sm:py-1 py-3 rounded flex sm:flex-row flex-col items-center px-2 border border-borderLightBlack justify-center sm:border-none sm:justify-start me-5 sm:me-0 w-32 sm:w-auto">
                    <img src="otologist-black.svg" alt="" class="w-5 me-2">
                    <span>Otologist</span>
                </div>
            </li>
            <li>
                <div class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 sm:py-1 py-3 rounded flex sm:flex-row flex-col items-center px-2 border border-borderLightBlack justify-center sm:border-none sm:justify-start me-5 sm:me-0 w-32 sm:w-auto">
                    <img src="general-doctor-black.svg" alt="" class="w-5 me-2">
                    <span>General Doctor</span>
                </div>
            </li>
            <li>
                <div class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 sm:py-1 py-3 rounded flex sm:flex-row flex-col items-center px-2 border border-borderLightBlack justify-center sm:border-none sm:justify-start me-5 sm:me-0 w-32 sm:w-auto">
                    <img src="surgeon-black.svg" alt="" class="w-5 me-2">
                    <span>Surgeon</span>
                </div>
            </li>
            <li>
                <div class="hover:text-myblue hover:bg-lightBlue text-myblue bg-lightBlue cursor-pointer mb-3 sm:py-1 py-3 rounded flex sm:flex-row flex-col items-center px-2 border border-borderLightBlack justify-center sm:border-none sm:justify-start me-5 sm:me-0 w-32 sm:w-auto">
                    <img src="neurologist-blue.svg" alt="" class="w-5 me-2">
                    <span>Neurologist</span>
                </div>
            </li>
            <li>
                <div class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 sm:py-1 py-3 rounded flex sm:flex-row flex-col items-center px-2 border border-borderLightBlack justify-center sm:border-none sm:justify-start me-5 sm:me-0 w-32 sm:w-auto">
                    <img src="psychotherapist-black.svg" alt="" class="w-5 me-2">
                    <span>Psychotherapist</span>
                </div>
            </li>
            <li>
                <div class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 sm:py-1 py-3 rounded flex sm:flex-row flex-col items-center px-2 border border-borderLightBlack justify-center sm:border-none sm:justify-start me-5 sm:me-0 w-32 sm:w-auto">
                    <img src="eyes-specialist-black.svg" alt="" class="w-5 me-2">
                    <span>Eyes Specialist</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="sm:h-100 sm:pb-80 sm:overflow-y-auto">
        <div class="grid grid-cols-1 sm:grid-cols-3 grid-rows-3 sm:grid-rows-1 gap-5">
            <div class="sm:px-5 px-14">
                <div class="bg-myYellow rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 mt-10 flex flex-col justify-center overflow-hidden">
                    <img src="doctor-1-removebg-preview.png" 
                        class="w-40 mx-auto mt-10"
                    alt="doctor">
                </div>
                <h4 class="font-semibold text-md mb-4">Dr. Mungulu Mungala</h4>
                <div class="flex justify-between items-center">
                    <span class="text-myGreen text-md bg-lightGreen px-3 py-1 rounded">Neurologist</span>
                    <div>
                        <i class="bi bi-star-fill text-myYellow"></i>
                        <span class="font-semibold text-sm mx-2">4.5</span>
                        <span class="text-myBlack text-sm">(2)</span>
                    </div>
                </div>
                <div class="flex justify-between mt-7">
                    <span class="text-myBlack text-xs">123 Elm Street Springfield, <br>IL 62701</span>
                    <button class="flex items-center justify-center w-7 h-7 rounded-full border-2 border-myBlack cursor-pointer">
                        <i class="bi bi-arrow-right text-xl text-myBlack"></i>
                    </button>
                </div>
            </div>
            <div class="sm:px-5 px-14">
                <div class="bg-myPurple rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 mt-10 flex flex-col justify-center overflow-hidden">
                    <img src="doctor-2-removebg-preview.png" 
                        class="w-44 mx-auto mt-10"
                    alt="doctor">
                </div>
                <h4 class="font-semibold text-md mb-4">Dr. Alfredo Gibson</h4>
                <div class="flex justify-between items-center">
                    <span class="text-myGreen text-md bg-lightGreen px-3 py-1 rounded">Surgeon</span>
                    <div>
                        <i class="bi bi-star-fill text-myYellow"></i>
                        <span class="font-semibold text-sm mx-2">5</span>
                        <span class="text-myBlack text-sm">(2)</span>
                    </div>
                </div>
                <div class="flex justify-between mt-7">
                    <span class="text-myBlack text-xs">456 Oak Avenue Los Angeles, <br>CA 90012</span>
                    <button class="flex items-center justify-center w-7 h-7 rounded-full border-2 border-myBlack cursor-pointer">
                        <i class="bi bi-arrow-right text-xl text-myBlack"></i>
                    </button>
                </div>
            </div>
            <div class="sm:px-5 px-14">
                <div class="bg-myGreen rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 mt-10 flex flex-col justify-center overflow-hidden">
                    <img src="doctor-3-removebg-preview.png" 
                        class="w-44 mx-auto mt-10"
                    alt="doctor">
                </div>
                <h4 class="font-semibold text-md mb-4">Dr. Xunli Mha</h4>
                <div class="flex justify-between items-center">
                    <span class="text-myGreen text-md bg-lightGreen px-3 py-1 rounded">Dermatologist</span>
                    <div>
                        <i class="bi bi-star text-myYellow"></i>
                        <span class="font-semibold text-sm mx-2">0</span>
                        <span class="text-myBlack text-sm">(0)</span>
                    </div>
                </div>
                <div class="flex justify-between mt-7">
                    <span class="text-myBlack text-xs">789 Pine Road Austin, <br>TX 73301</span>
                    <button class="flex items-center justify-center w-7 h-7 rounded-full border-2 border-myBlack cursor-pointer">
                        <i class="bi bi-arrow-right text-xl text-myBlack"></i>
                    </button>
                </div>
            </div>
            <div class="sm:px-5 px-14">
                <div class="bg-myPurple rounded w-64 sm:w-50 h-64 sm:h-50 mb-4 mt-10 flex flex-col justify-center overflow-hidden">
                    <img src="doctor-2-removebg-preview.png" 
                        class="w-44 mx-auto mt-10"
                    alt="doctor">
                </div>
                <h4 class="font-semibold text-md mb-4">Dr. Alfredo Gibson</h4>
                <div class="flex justify-between items-center">
                    <span class="text-myGreen text-md bg-lightGreen px-3 py-1 rounded">Surgeon</span>
                    <div>
                        <i class="bi bi-star-fill text-myYellow"></i>
                        <span class="font-semibold text-sm mx-2">5</span>
                        <span class="text-myBlack text-sm">(2)</span>
                    </div>
                </div>
                <div class="flex justify-between mt-7">
                    <span class="text-myBlack text-xs">456 Oak Avenue Los Angeles, <br>CA 90012</span>
                    <button class="flex items-center justify-center w-7 h-7 rounded-full border-2 border-myBlack cursor-pointer">
                        <i class="bi bi-arrow-right text-xl text-myBlack"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>