<div class="px-8 sm:px-13 pt-32 sm:pt-36 pb-16 sm:flex">
    <div class="sm:w-20p sm:me-16 sm:px-0 px-8 mb-10 sm:mb-0">
        <ul class="list-none flex flex-col">
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded">Dentist</li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded">Cardiologist</li>
            <li class="hover:text-myblue text-myblue bg-lightBlue hover:bg-lightBlue cursor-pointer mb-2 py-1 rounded">Orthopedist</li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded">Otologist</li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded">General Doctor</li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded">Surgon</li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded">Neurologist</li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded">Psychotherapist</li>
            <li class="hover:text-myblue hover:bg-lightBlue cursor-pointer mb-3 py-1 rounded">Eye Specialist</li>
        </ul>
    </div>
</div>