<div class="px-13">
    <div class="flex justify-between">
        <div class="">
            <h2>We help patients<br>live a healthy,<br>longer life.</h2>
            <p>At the heart of our platform is a commitment to improving patient health and well-being. We provide seamless access to a network of qualified healthcare professionals, empowering patients to take charge of their health through timely appointments and personalized care. By simplifying the process of connecting with doctors, we help patients maintain regular check-ups, get early diagnoses, and stay informed about their treatment options — all contributing to a healthier, longer life.</p>
            <button class="bg-myblue text-white px-4 py-1 rounded-l-full rounded-r-full shadow-md focus:ring-2 transform hover:scale-105"
        >Request an appointment</button>
        </div>
        <div class="flex justify-between bg-">
            <div class="w-96">
                <img src="doctor-1-removebg-preview.png" 
                alt="doctor">
            </div>
            <div>
                <div><img src="doctor-2-removebg-preview.png" alt="doctor"></div>
                <div><img src="doctor-3-removebg-preview.png" alt="doctor"></div>
            </div>
        </div>
    </div>
</div>
