<div class="px-13 bg-no-repeat bg-center bg-cover pb-16 relative -z-20" style="background-image: url('bg-hero.png');">
    <div class="flex justify-between pt-32 bg-cover">
        <div>
            <h2 class="font-semibold text-5xl mb-8">We help patients<br>live a healthy,<br>longer life.</h2>
            <p class="mb-8 text-myBlack">At the heart of our platform is a commitment to improving patient health and well-being. We provide seamless access to a network of qualified healthcare professionals, empowering patients to take charge of their health through timely appointments and personalized care.</p>
            <button class="bg-myblue text-white px-6 py-2 rounded-l-full rounded-r-full shadow-md focus:ring-2 transform hover:scale-105"
        >Request an appointment</button>
        <div class="flex mt-12">
            <div>
                <h4 class="relative text-5xl font-semibold mb-4">30+
                    <span class="absolute bottom-0 -z-10 block w-28 h-2 rounded-l-full rounded-r-full bg-myYellow"></span>
                </h4>
                
                <p class="text-myBlack">Years of Experience</p>
            </div>
            <div class="mx-8">
                <h4 class="relative text-5xl font-semibold mb-4">15+
                    <span class="absolute bottom-0 -z-10 block w-28 h-2 rounded-l-full rounded-r-full bg-myPurple"></span>
                </h4>
                <p class="text-myBlack">Clinic Location</p>
            </div>
            <div>
                <h4 class="relative text-5xl font-semibold mb-4">100%
                    <span class="absolute bottom-0 -z-10 block w-28 h-2 rounded-l-full rounded-r-full bg-myGreen"></span>
                </h4>
                <p class="text-myBlack">Patient Satisfaction</p>
            </div>
        </div>
        </div>
        <div class="flex justify-between ms-32">
            <div class="w-100 h-96 p-5 pb-0 rounded me-4 bg-myYellow flex flex-col justify-end">
                <img class="w-48 mx-auto" src="doctor-1-removebg-preview.png" alt="doctor">
            </div>
            <div>
                <div class="bg-myPurple rounded w-52 h-52 mb-4 mt-10 flex flex-col justify-center overflow-hidden">
                    <img src="doctor-2-removebg-preview.png" 
                        class="w-48 mx-auto mt-10"
                    alt="doctor">
                </div>
                <div class="bg-myGreen rounded h-52 mb-4 flex flex-col justify-center overflow-hidden">
                    <img src="doctor-3-removebg-preview.png" 
                        class="w-48 mx-auto mt-32"
                    alt="doctor">
                </div>
            </div>
        </div>
    </div>
</div>
